<%= form_for @producto, class:"form-inline", role:"form" do |form| %>

  <%# nombre %>
  <div class="mb-3">
    <%= form.label :nombre, class:"form-label" %>
    <%= form.text_field :nombre,class:"form-control",id:"inputNombre"  %>
    <% producto.errors.full_messages_for(:nombre).each do
      |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%# marca %>
  <div class="mb-3">
    <%= form.label :marca, class:"form-label" %>
    <%= form.text_field :nombre,class:"form-control",id:"inputNombre"  %>
    <% producto.errors.full_messages_for(:marca).each do
    |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%# precio %>
  <div class="mb-3">
    <%= form.label :precio, class:"form-label" %>
    <%= form.text_field :precio,class:"form-control",id:"inputPrecio" %>
    <% producto.errors.full_messages_for(:precio).each do
    |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <%# categoria %>
  <div class="mb-3">
    <%= form.label :categoria, class:"form-label"  %>
    <%= form.select :categoria, ['Zapatillas','Sudaderas','Camisetas','Otros'], {}, {class:"form-select",id:"inputCategoria"} %>
  </div>

  <%# sexo %>
  <div class="mb-3">
    <%= form.label :sexo, class:"form-label" %>
    <%= form.select :sexo, ['M','H','N'] , {}, {class:"form-select",id:"inputSexo"} %>
  </div>


  <div class="mb-3">
    <%= form.file_field :image,class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Añadir producto", class:"btn btn-primary" %>
  </div>
<% end %>